<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Archivage de documents</title>
</head>
<body>
<p>
<form th:method="get" th:action="@{/document/nom/}">
    <input type="text" name="nom" value="nom de l'archive"/>
    <input type="submit" value="Rechercher"/>
</form>
</p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom du document</th>
        <th>Type</th>
        <th>Date d'archivage</th>
        <th>Télécharger l'archive</th>
        <th>Supprimer l'archive</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="fichier : ${fichiers}">
        <td th:text="${fichier.id}"></td>
        <td th:text="${fichier.nom}"></td>
        <td th:text="${fichier.typeFichier}"></td>
        <td th:text="${fichier.date}"></td>
        <td>
            <input type="button" th:onclick="alert('Chemin: [[${fichier.chemin}]]')" value="Télécharger" />
        </td>
        <td>
            <form th:action="@{/document/{id}(id = ${fichier.id})}" th:method="post">
                <input type="submit" value="Supprimer" onclick="confirm('Êtes-vous sûr ?')"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<form th:action="@{/document/m}" th:method="post">
    <input type="submit" value="<"/>
</form>

<form th:action="@{/document/p}" th:method="post">
    <input type="submit" value=">"/>
</form>

<a th:href="@{/}">Retour à l'accueil</a>
</body>