<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Archivage de documents</title>
</head>
<body>
<form th:method="post" th:action="@{/document}">
    Charger le document <input type="file" name="file"/><br/>
    Nom du document <input type="text" name="nom"/><br/>
    Type du document <select name="typeFichier">
    <option th:value="---" th:text="---"></option>
    <option th:value="Texte" th:text="Texte"></option>
    <option th:value="Audio" th:text="Audio"></option>
    <option th:value="Video" th:text="Video"></option>
    <option th:value="Image" th:text="Image"></option>
    <option th:value="Binaire" th:text="Binaire"></option>
</select>
    <button type="submit">Valider</button>
</form>
<a th:href="@{/}">Retour à l'accueil</a>
</body>